*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100lvh;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #fff;
    margin-bottom: 20px;
}

.letras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.letra{
    width: 80px;
    height: 80px;
    border: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.ativa {
    /*width: 260px;*/
    border: 2px solid #ff0;
    color: #ff0;
}

.composicao{
    margin-top: 20px;
    text-align: center;
}

.composicao #input{
    width: 90%;
    outline: none;
    font-size: 17px;
    padding: 10px 10px;
}

.composicao button{
    width: 90%;
    height: 40px;
    background: none;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.composicao button:hover{
    background-color: rgba(0,0,0,0.5);
}